@charset "UTF-8";

/* 3つの画面共通 *//* 確認済 */
.item {
	border-bottom: dashed 3px #F4A460;
}


/* プロフィール確認 *//* 確認済 */
.intro {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;
	cursor: default;
}
.intro p {
	display: inline-block;
	text-align: right;
	font-size: 17px;
	width: 100px;
	margin-right: 30px;
}
.intro input[type="text"] {
	font-size: 17px;
	width: 325px;
	height: 30px;
	cursor: default;
}
.intro2 {
	margin: 0 auto;
	text-align: center;
	max-width: 700px;
}
.intro2 p {
	display: inline-block;
	text-align: right;
	font-size: 17px;
	width: 100px;
	margin: 43px 369px auto 0;
}
.intro2 textarea {
	display: inline-block;
	font-size: 17px;
	text-align: left;
	width: 325px;
	height: 100px;
	margin: -55px auto 0 136px;
	cursor: default;
}


/* マイメニュー *//* 確認済 */
.mymenu {
	text-align: center;
	cursor: default;
}
.mymenu p {
	display: inline-block;
	text-align: right;
	font-size: 17px;
	width: 160px;
	margin-right: 30px;
}
.mymenu input[type="text"] {
	font-size: 17px;
	width: 325px;
	height: 30px;
	cursor: default;
}


/* パスワード変更 *//* 確認済 */
.change {
	text-align: center;
	cursor: default;
}
.change p {
	display: inline-block;
	text-align: right;
	font-size: 17px;
	width: 160px;
	margin-right: 30px;
}
.change input[type="text"] {
	font-size: 17px;
	width: 325px;
	height: 30px;
	cursor: default;
}


/* 記入できるtext欄の入力時 枠線の色がオレンジに変わる *//* 確認済 */
.check input[type="text"]:focus{
	border: 4px solid #F4A460;
	outline:none;
}
/* readonlyのtext欄 枠の色変化しない */
input[type="text"]:focus{
	border: 1px solid -internal-light-dark(black, white);
	outline:none;
}
/*登録ボタン デザイン*/
input[type = "submit"]{
	margin: 0 5px;
	border-radius: 10px;
	width: 80px;
	height: 40px;
	transition: 0.5s;
	margin-top: 5px;
}
/*登録ボタンにカーソルが触れると色が変わるように変更*//* common */
input[type = "submit"]:hover{
	background-color : #F4A460;
}

/* readonlyのtextarea 枠の色変化しない */
.intro:focus{
	border: 1px solid -internal-light-dark(black, white);
	outline:none;
}
textarea:focus{
	border: 1px solid -internal-light-dark(black, white);
	outline:none;
}

/*メニューボタン デザイン（<button> ver.）*//* common */
button{
	margin: 0 5px;
	border-radius: 10px;
	width:80px;
	height:40px;
	transition: 0.5s;
	cursor: pointer;
}
/*メニューボタン ホバーしたときオレンジにする（<button> ver.）*//* common */
button:hover{
	background-color : #F4A460;
}
/* 登録ボタン 中央配置 *//* common */
.button{
	margin-top: 15px;
	text-align:center;
}