@charset "UTF-8";

/* 記入できるtext欄の入力時 枠線の色がオレンジに変わる */
.check input[type="text"]:focus{
	border: 4px solid #F4A460;
	outline:none;
}
/* readonlyのtext欄 枠の色変化しない */
input[type="text"]:focus{
	border: 1px solid -internal-light-dark(black, white);
	outline:none;
}
/*テキスト入力の文字サイズの変更*/
input[type = "text"]{
	font-size: 20px;
	width:413.48px;
	height:40px;
	/*margin: 10px 10px 15px;*/
}
/*登録ボタン デザイン*/
input[type = "submit"]{
	margin: 0 5px;
	border-radius: 10px;
	width: 80px;
	height: 40px;
	transition: 0.5s;
}
/*登録ボタンにカーソルが触れると色が変わるように変更*//* common */
input[type = "submit"]:hover{
	background-color : #F4A460;
}

/* プロフィール表示 */
.intro p{
	display:inline-block;
	margin-bottom:0;
	margin-top:0;
	border-bottom:3px dashed #F4A460;
	width:auto;
}
.intro textarea{
	font-size: 16px;
	width:413.18px;
	height:100px;
	margin:10px 10px 15px;
}
/* readonlyのtextarea 枠の色変化しない */
.intro:focus{
	border: 1px solid -internal-light-dark(black, white);
	outline:none;
}

/*メニューボタン デザイン（<button> ver.）*//* common */
button{
	margin: 0 5px;
	border-radius: 10px;
	width:80px;
	height:40px;
	transition: 0.5s;
	cursor: pointer;
}
/*メニューボタン ホバーしたときオレンジにする（<button> ver.）*//* common */
button:hover{
	background-color : #F4A460;
}
/* 登録ボタン 中央配置 *//* common */
.button{
	margin-top: 15px;
	text-align:center;
}


/* マイメニュー */
.item {
	display: inline-block;
	text-align: left;
	width: 100px;
	margin: 0;
}