@charset "UTF-8";

/* 全体に適用 */
.wrapper {
	margin: 0 auto;
	max-width: 700px;
}
/* 背景色 */
body {
	background-color: #F5F5F5;
}

h1 {
	text-align: center;
}
/* どのページにいるのか */
h3 {
	padding: 0.25em 0.5em;/*上下 左右の余白*/
	font-size: 20px;
	background: transparent;/*背景透明に*/
	border-left: solid 5px #F4A460;/*左線*/
}