@charset "UTF-8";

/* 全体に適用 */
.wrapper {
	margin: 0 auto;
	max-width: 700px;
}
/* 背景色 */
body {
	background-color: #F5F5F5;
}

/* 完了の文 */
h1 {
	max-width: 700px;
	text-align: center;
	margin: 100px auto 135px;
}
.done {
	background: #FFDEAD;
	box-shadow: 0px 0px 0px 5px #FFDEAD;
	border: dashed 2px white;
	padding: 0.2em 0.5em;
}
.mistake {
	background: #B2CBE4;
	box-shadow: 0px 0px 0px 5px #B2CBE4;
	border: dashed 2px white;
	padding: 0.2em 0.5em;
}

/* どのページにいるのか */
h3 {
	max-width: 674px;
	margin: 20px auto;
	padding: 0.25em 0.5em; /*上下 左右の余白*/
	font-size: 20px;
	background: transparent; /*背景透明に*/
	border-left: solid 5px #F4A460; /*左線*/
}

/*ジャンル選択欄 サイズ*/
select {
	width:200px;
	height: 25px;
}
/*ジャンル選択時 枠線の色がオレンジに変わる*/
select:focus {
	border: 4px solid #F4A460;
	outline:none;
}

/* 質問 */
.question p {
	font-size: 17px;
	margin: 20px auto 13px;
	max-width: 700px;
}
/* 回答 */
.answer p {
	font-size: 17px;
	margin: 0 auto 13px;
	max-width: 700px;
}
/* 「質問」「回答」のアンダーライン */
.under {
	border-bottom: dashed 3px #F4A460;
}

/* 質問の枠 */
.textquestion {
	display: block;
	font-size: 16px;
	max-width: 700px;
	width: 99%;
	height: 120px;
	margin: 8px auto 35px;
	outline: none;
}
/* 回答の枠 */
.textAnswer {
	display: block;
	font-size: 16px;
	max-width: 700px;
	width: 99%;
	height: 120px;
	margin: 8px auto 20px;
	outline: none;
}
/* テキストエリア サイズ */
textarea {
	max-width:700px;
	width: 99%;
	height: 120px;
	margin: 0 auto 20px;
	font-size: 16px;
}
/*テキストエリア入力時 枠線の色がオレンジに変わる*/
.answer:focus {
	border: 4px solid #F4A460;
	outline:none;
}

/* 登録ボタン 中央配置 */
.button {
	text-align: center;
	margin-top: 15px;
}
input[type="submit"] {
	cursor: pointer;
}
/* 登録ボタン・削除ボタン デザイン */
.button input[type="submit"] {
	margin: 0 5px;
	border-radius: 10px;
	width: 80px;
	height: 40px;
	transition: 0.5s;
}
/*メニューボタン デザイン（<button> ver.）*/
button {
	margin: 0 5px;
	border-radius: 10px;
	width:80px;
	height:40px;
	transition: 0.5s;
	cursor: pointer;
}
/* 登録ボタン・削除ボタン・ページャー ホバーしたときオレンジにする */
input[type="submit"]:hover {
	background-color: #F4A460;
}
/*メニューボタン ホバーしたときオレンジにする（<button> ver.）*/
button:hover {
	background-color : #F4A460;
}

/* ラジオボタン */
.radio {
	width: 400px;
	text-align: center;
	font-size: 18px;
	margin: 0 auto;
}
/* ラジオボタンの色変更 */
input[type='radio']:after {
width: 15px;
height: 15px;
border-radius: 15px;
top: -2px;
left: -1px;
position: relative;
background-color: #d1d3d1;
content: '';
display: inline-block;
visibility: visible;
/*border: 2px solid white;*/
margin-right: 3px;
}
input[type='radio']:checked:after {
width: 15px;
height: 15px;
border-radius: 15px;
top: -2px;
left: -1px;
position: relative;
background-color: #F4A460;
content: '';
display: inline-block;
visibility: visible;
/*border: 2px solid white;*/
margin-right: 3px;
}
label {
	margin-left: 1em;
	margin-right: 1em;
	cursor: pointer;
}

/* ページャー */
.pager a{
	width: 30px;
	height: 30px;
	margin: 0 0 0 0;
}
.pager a {
	text-decoration: none;
}
.pager a:link {
	color: black;
}
.pager a:visited {
	color: black;
}
.pager a:hover {
	color: #F4A460;
}
.pager a:active {
	color: #F4A460;
}
.pager{
	text-align: right;
	max-width:700px;
	margin-right:0;
}