@charset "UTF-8";

/* 全体に適用 */
.wrapper {
	margin: 0 auto;
	max-width: 960px;
}
/* 背景色 */
body {
	background-color: #F5F5F5;
}
/* ヘッダーの 受講者管理システム の文字 */
.title {
	text-align: center;
	font-size: 30px;
	color: black;
}
h1 {
	text-align: center;
}