@charset "UTF-8";

/* 質問 *//* 確認済 *//* common */
/*.question p {
	font-size: 17px;
	margin: 20px auto 13px;
	max-width: 700px;
}*/
/* 回答 *//* 確認済 *//* common */
/*.answer p {
	font-size: 17px;
	margin: 0 auto 13px;
	max-width: 700px;
}*/
/* 「質問」「回答」のアンダーライン *//* 確認済 *//* common */
/*.under {
	border-bottom: dashed 3px #F4A460;
}*/

/* 質問の枠 *//* 確認済 *//* common */
/*.question textarea {
	display: block;
	font-size: 16px;
	max-width: 700px;
	width: 99%;
	height: 120px;
	margin: 8px auto 35px;
	outline: none;
}*/
/* 回答の枠 *//* 確認済 *//* common */
/*.answer textarea {
	display: block;
	font-size: 16px;
	max-width: 700px;
	width: 99%;
	height: 120px;
	margin: 8px auto 20px;
	outline: none;
}*/
/* 質問編集時 枠線の色がオレンジに変わる *//* 確認済 *//* common */
/*.question textarea:focus {
	border: 4px solid #F4A460;
	outline: none;
}*/
/* 回答編集時 枠線の色がオレンジに変わる *//* 確認済 *//* common */
/*.answer textarea:focus {
	border: 4px solid #F4A460;
	outline: none;
}*/

/* 登録ボタン 中央配置 *//* 確認済 *//* common */
/*.button {
	text-align: center;
	margin-top: 15px;
}*/
/* 登録ボタン・削除ボタン デザイン *//* 確認済 *//* common */
/*.button input[type="submit"] {
	margin: 0 5px;
	border-radius: 10px;
	width: 80px;
	height: 40px;
	transition: 0.5s;
	cursor: pointer;
}*/
/* 登録ボタン・削除ボタン ホバーしたときオレンジにする *//* 確認済 *//* common */
/*.button input[type="submit"]:hover {
	background-color: #F4A460;
}*/