@charset "UTF-8";

/* 質問 */
.question p {
	font-size: 25px;
	margin: 80px auto 13px;
	max-width: 700px;
}
/* 回答 */
.answer p {
	font-size: 25px;
	margin: 0 auto 13px;
	max-width: 700px;
}
.under {
	border-bottom: dashed 3px #F4A460;
}

/* 質問の枠 */
.textquestion {
	display: block;
	font-size: 20px;
	max-width: 700px;
	width: 99%;
	height: 150px;
	margin: 8px auto 35px;
	outline: none;
}

/* 回答の枠 */
.textAnswer {
	display: block;
	font-size: 20px;
	max-width: 700px;
	width: 99%;
	height: 150px;
	margin: 8px auto 35px;
	outline: none;
}

/*メニューボタンの変更*/
button{
	border-radius: 10px;
	width:100px;
	height:50px;
	transition: 0.5s;
	cursor: pointer;
}
	/*メニューボタンにカーソルが触れると色が変わるように変更*/
button:hover{
	background-color : #F4A460;
}

/* メニューボタン 中央配置 */
.button {
	text-align: center;
}