@charset "UTF-8";

.genre{
	margin: 58px auto 260px;
	max-width: 700px;
	text-align: center;
}

.genre input{
	width: 43px;
	height: 24px;
}
.genre input[type="submit"]{
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s;
}
.genre input[type="submit"]:hover{
	background-color : #F4A460;
}
