@charset "UTF-8";

.genre{
	margin: 95px auto 200px;
	max-width: 700px;
	text-align: center;
}

p input{
	width: 50px;
}
p input[type = "submit"]{
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s;
}
p input[type = "submit"]:hover{
	background-color : #F4A460;
}
