@charset "UTF-8";

/* ロゴ */
.logo {
	text-align: center;
	margin: 20px auto;
	max-width: 700px;
}
.headerLogo{
	width: 300px;
}
.break {
	height: 40px;
}

/* ドロップダウンナビゲーションの設定 */
#nav {
	list-style-type: none;
	max-width: 700px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	background: white;
}
/* id="nav" 内の <li> に適用 */
#nav li {
	position: relative;
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
/* id="nav" 内の <li> 内の<a> に適用 */
#nav li a {
	display: block;
	margin: 0 ;
	padding: 11px 0;
	color: black;
	font-size: 17px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}
/* id="nav" 内の <li> 内の <ul> に適用 */
#nav li ul {
	list-style: none;
	position: absolute;
	top: 100%;
	left: 0;
	margin: 0 ;
	padding: 0;
}
/* id="nav" 内の <li>の中にある<ul>の<li>に適用 */
#nav li ul li {
	overflow: hidden;
	width: 175px;
	height: 0;
	color: #fff;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}
/* id="nav" 内の <li>の中にある<ul>の<li>の<a>に適用 */
#nav li ul li a {
	padding: 13px 15px;
	background: white;
	text-align: left;
	font-size: 13px;
	font-weight: normal;
}
/* id="nav" 内の <li>の中にある<ul>の<li>にホバーしたときの<a>に適用 */
#nav li:hover > a {
	background: white;
	color: #F4A460;
}
/* id="nav" 内の <li>の中にある<ul>の<li>にホバーしたときの<ul>内の<li>に適用 */
#nav li:hover ul li {
	overflow: visible;
	height: 38px;
	border-bottom: 1px solid #fff;
}

/* フッター */
.footer {
	margin: 0 auto 15px;
	max-width: 700px;
	height: 50px;
}
.footerLogo {
	width: 150px;
}
.sentence {
	margin: 0 auto;
	text-align: left;
	font-size: 11px;
	border: none;
}