@charset "UTF-8";

/* プロフィール部分を中央に寄せる *//* 確認済 */
.profile {
	margin: 0 auto;
}
/*「ログイン」真ん中に配置*//* 確認済 */
p {
	text-align: center;
	cursor: default;
}

/* アイコン *//* 確認済 */
.img {
	width: 45.98px;
}
/* テキスト入力欄の文字サイズの変更 *//* 確認済 */
input[type="text"] {
	font-size: 20px;
	width: 325px;
	height: 40px;
	margin: 10px;
}
input[type="password"] {
	font-size: 20px;
	width: 325px;
	height: 40px;
	margin: 10px;
}
/* テキスト入力時 枠線の色がオレンジに変わる *//* 確認済 */
input[type="text"]:focus {
	border: 4px solid #F4A460;
	outline: none;
}
input[type="password"]:focus {
	border: 4px solid #F4A460;
	outline: none;
}

/* 登録ボタン 中央配置 *//* 確認済 *//* common */
/* 登録ボタン デザイン *//* 確認済 *//* common */
/* 登録ボタン ホバーしたときオレンジにする *//* 確認済 *//* common */

/* ラジオボタン *//* 確認済 *//* common */
/* ラジオボタンの色変更 *//* 確認済 *//* common */

/* 新規登録のリンク *//* 確認済 */
a {
	text-decoration: none;
}
a:link {
	color: black;
}
a:visited {
	color: black;
}
a:hover {
	color: #F4A460;
}
a:active {
	color: #F4A460;
}