@charset "UTF-8";

/* login.css から削除 */
/*画面の白い部分*/
.box{
	border: 3px solid#0000;
	background-color: white;
	max-width: 820px;
	margin: 0 auto 0 auto;
}
/*テキストエリアの文字サイズの変更*/
textarea{
	font-size: 20px;
}
/*テキストエリア入力時に枠線の色が変わる*/
.textlines:focus{
	border: 4px solid #F4A460;
	outline:none;
}
/*textareaの大きさを変更*/
textarea{
	width:413.48px;
	height:108.48px;
	margin: 10px;
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* header_footer.css から削除 */
/* ドロワー*/
/*img{
	width:60px;
	height:60px;
}*/
/*.hamburger{
	margin-right:100px;
	text-align:right;
}*/
/*#pro{
	width:300px;
	height:100%;
}*/
/*header .container{
	float:right;
}*/

/*.show{
	display:none;
}*/

/* -------------------------------------------------------------------------------------------------------------------- */

/* common.css から削除 */
/* ヘッダーの 受講者管理システム の文字 */
.title {
	text-align: center;
	font-size: 30px;
	color: black;
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* changepassword.css から削除 */
.infomation{
	margin:10px 0 0 30px;
	font-size:20px;
	border:none;
}

/* -------------------------------------------------------------------------------------------------------------------- */

/* 	question_list.css から削除 */
table {
	border-collapse: collapse;
	margin: 0 auto;
	width: 700px;
}
table, th, td {
	border: 1px solid black;
}
.white0 th, td {
	background-color: black;
}
/*@media screen and (max-width: 700px) {
  table{width: 100%;}
}*/

/*table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 700px;
}
table tr {
  background-color: white;
  border-bottom: 2px solid white;
}
table tr:nth-child(even){
  background-color: #eee;
}

table thead tr{
  background-color: #FFEBCD;
}
table tbody th {
  text-align: center;
}
.white {
   text-align: center;
}
@media screen and (max-width: 700px) {
  table {
    border: 0;
    width:100%
  }
  table th{
    background-color: #fd6767;
    display: block;
    border-right: none;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: .625em;
    border: 1px solid #fd6767;
  }
  table td {
    border-bottom: 1px dotted #bbb;
    display: block;
    font-size: .8em;
    text-align: right;
    position: relative;
    padding: 1.5em 1em 1.5em 4em;
    border-right: none;
  }
table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #000;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table tbody th {
    color: #fff;
    padding: 1em
}
  table tr:nth-child(even){
  background-color: #fff;
}
}*/
/*table {
	border-collapse: collapse;
	margin: 0 auto;
	padding: 0;
	max-width: 700px;
}
table tr {
	background-color: #FFF;
	border-bottom: 2px solid #FFF;
	cursor: default;
}
table tr:nth-child(even) {
	background-color: #EEE;
}
table th, table td {
	padding: .35em 1em;
}
table thred th {
	padding: 1em;
}
table thred tr {
	background-color: white;
}
table tbody th {
	text-align: center;
}*/
/*.table-QuestionList {
	padding: 0;
}*/

/*.white {
	background-color: white;
	padding:0px 50px 0px 50px;
	border-collapse: collapse;
	border-bottom: 1px solid black;
	text-align: center;
	width: 700px;
}*/

/*ラジオボタンのところから削除*/
/*border: 2px solid white;*/
#FFDAB9
#FFE4B5
#FFEBCD