@charset "UTF-8";

.text{
	margin: 135px 0 235px;
	text-align: center;
}
.time {
	max-width: 700px;
	margin: 10px auto 0;
}
input[type="text"]:focus{
	border: 4px solid #F4A460;
	outline:none;
}
p input{
	width: 50px;
}
p input[type = "submit"]{
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s;
}
p input[type = "submit"]:hover{
	background-color : #F4A460;
}
table{
	border-collapse: collapse;
	margin: 0 auto 0 auto;
	max-width: 700px;
	border:3px solid black;
}
.table-menu{
	padding: 0;
}
.table-menu th{
	background: #F4A460;
	text-align: center;
	padding: 0px 50px 0px 50px;
	width: 700px;

	border-collapse: collapse;
	border-bottom: 3px solid black;
}
/*.n .nk {
	width: 150px;
}
.c {
	width: 400px;
}*/

.table-menu td{
	background: white;
	padding: 0px 50px 0px 50px;
	border-collapse: collapse;
	text-align: center;
	width: 700px;
	border-bottom:1px solid black
}

h3{
	max-width: 700px;
	margin: 20px auto 120px;
}

