@charset "UTF-8";

main {
	margin:0 auto 0 auto;
}
h4{
	border:1px solid black;
	max-width:700px;
	text-align:center;
	margin:0 auto 0 auto;
	background:white;

}
p{
	margin: 20 auto 0 auto;
	max-width:700px;
	font-size: 15px;
}

.index{
	margin:0 auto 0 auto;
	max-width:700px;
}
.profile{
	display:block;
	margin:0 auto 0 auto;
	max-width:700px;
}

.mymenu{
	max-width:700px;

}
.link{
	margin:0 auto 0 auto;
	max-width:700px;
}