@charset "UTF-8";

/*プロフィール部分を中央に寄せる*/
.profile {
	margin: 0 auto 0 auto;
}

/*メニューボタンの変更*/
button{
	border-radius: 10px;
	width:100px;
	height:50px;
	transition: 0.5s;
	cursor: pointer;
}
/*メニューボタンにカーソルが触れると色が変わるように変更*/
button:hover{
	background-color : #F4A460;
}
/*メニューボタンを真ん中に配置する*/
.button {
	text-align: center;

}

/*説明？を真ん中に配置*/
h3{
	text-align:center;
}

/*table*/
.profile{
	border-collapse: separate;
	border-spacing: 0px 24px;
}
/*tdの編集*/
td{
	font-size: 20px;
	width:413.48px;
	height:40px;
	margin: 10px;
	border: 1px solid rgb(0, 0, 0);
	background:white;
}

