@charset "UTF-8";

/* 全体に適用 *//* common */
.wrapper {
	margin: 0 auto;
	max-width: 700px;
}

/* 質問 *//* common */
.question p {
	font-size: 25px;
	margin: 20px auto 13px;
	max-width: 700px;
}
/* 回答 *//* common */
.answer p {
	font-size: 25px;
	margin: 0 auto 13px;
	max-width: 700px;
}
/* 「質問」「回答」のアンダーライン *//* common */
.under {
	border-bottom: dashed 3px #F4A460;
}

/* 質問の枠 *//* common */
.textquestion {
	display: block;
	font-size: 20px;
	max-width: 700px;
	width: 99%;
	height: 150px;
	margin: 8px auto 35px;
	outline: none;
}
/* 回答の枠 *//* common */
.textAnswer {
	display: block;
	font-size: 20px;
	max-width: 700px;
	width: 99%;
	height: 150px;
	margin: 8px auto 35px;
	outline: none;
}

/*メニューボタン デザイン（<button> ver.）*//* common */
button{
	margin: 0 5px;
	border-radius: 10px;
	width:80px;
	height:40px;
	transition: 0.5s;
	cursor: pointer;
}
/*メニューボタン ホバーしたときオレンジにする（<button> ver.）*//* common */
button:hover{
	background-color : #F4A460;
}
/*メニューボタン 中央配置*//* common */
.button {
	text-align: center;
	margin-top: 15px;
}